<div class="logo">
    <a href="#">
        <img src="images/home/logo.png" alt="index" />
    </a>
</div>
<div class="menu-sidebar__content js-scrollbar1">
    <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar__list">
            <li>
                <a href="index">
                    <i class="fas fa-tachometer-alt"></i>Doashboard</a>
            </li>
			<li>
                <a class="js-arrow" href="#">
                    <i class="fas fa-users"></i>Quản lý người dùng</a>
				<ul class="list-unstyled navbar__sub-list js-sub-list">
					<li>
						<a href="taiKhoans">Tài Khoản</a>
					</li>
					<li>
						<a href="ttinkhachhangs">Thông tin</a>
					</li>
				</ul>
            </li>
			<li>
				<a class="js-arrow" href="#">
				   <i class="fas fa-shopping-cart"></i>Gian hàng</a>
				<ul class="list-unstyled navbar__sub-list js-sub-list">
					<li>
						<a href="htgianhangs">Hệ thống gian hàng</a>
					</li>
                    <li>
                        <a href="sanphams">Sản phẩm gian hàng</a>
                    </li>
				</ul>
			</li>
            <li class="has-sub">
                <a class="js-arrow" href="#">
                    <i class="fas fa-chart-bar"></i>Thống kê</a>
                <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                    <li>
                        <a href="thongkedss">Thống kê theo doanh số</a>
                    </li>
                    <li>
                        <a href="thongkesls">Thống kê theo số lượng</a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="dondathangs">
                    <i class="fas fa-table"></i>Đơn đặt hàng</a>
            </li>


        </ul>
    </nav>
</div>