<div class="logo">
    <a href="#">
        <img src="images/home/logo.png" alt="index" />
    </a>
</div>
<div class="menu-sidebar__content js-scrollbar1">
    <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar__list">
            <li>
                <a href="/">
                    <i class="fas fa-tachometer-alt"></i>Doashboard</a>
            </li>
            <li>
                <a href="/users">
                    <i class="fas fa-users"></i>Quản lý người dùng</a>
            </li>
			<li>
				<a class="js-arrow" href="#">
				   <i class="fas fa-shopping-cart"></i>Quản lý hàng</a>
				<ul class="list-unstyled navbar__sub-list js-sub-list">
					<li>
						<a href="/categories">Quản lý loại sản phẩm</a>
					</li>
                    <li>
                        <a href="/products">Quản lý sản phẩm</a>
                    </li>
				</ul>
			</li>
            <li class="has-sub">
                <a class="js-arrow" href="#">
                    <i class="fas fa-chart-bar"></i>Thống kê</a>
                <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                    <li>
                        <a href="/statistics/sales">Thống kê doanh số</a>
                    </li>
                    <li>
                        <a href="/statistics/quantity">Thống kê số lượng</a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="/orders">
                    <i class="fas fa-table"></i>Đơn đặt hàng</a>
            </li>


        </ul>
    </nav>
</div>