<!DOCTYPE html>
<html lang="en">

<head>

	<title>Quên mật khẩu</title>

	<% include partials/headadmin.ejs %>

</head>

<body class="animsition">
<div class="page-wrapper">
	<div class="page-content--bge5">
		<div class="container">
			<div class="login-wrap">
				<div class="login-content">
					<div class="login-logo">
						<a href="#">
							<img src="images/home/logo.png" alt="index">
						</a>
					</div>
					<div class="login-form">
						<form action="" method="post">
							<div class="form-group">
								<label>Địa chỉ email</label>
								<input class="au-input au-input--full" type="email" name="email" placeholder="Email">
							</div>
							<button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">Gửi đi</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<!-- Jquery JS-->
<% include partials/jqueryScript.ejs %>

</body>

</html>
<!-- end document-->