<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags-->
	<title>Thống kê theo số lượng</title>
	<% include partials/headadmin.ejs %>
	<script src="/vendor/chartjs/Chart.bundle.min.js"></script>
</head>

<body class="animsition">
	<div class="page-wrapper">
		<!-- HEADER MOBILE-->
		<header class="header-mobile d-block d-lg-none">
			<% include partials/headeradmin.ejs %>
		</header>
		<!-- END HEADER MOBILE-->

		<!-- MENU SIDEBAR-->
		<aside class="menu-sidebar d-none d-lg-block">
			<% include partials/menusidebar.ejs %>
		</aside>
		<!-- END MENU SIDEBAR-->

		<!-- PAGE CONTAINER-->
		<div class="page-container">
			<!-- HEADER DESKTOP-->
			<header class="header-desktop">
				<% include partials/headdesktop.ejs %>
			</header>
			<!-- END HEADER DESKTOP-->

			<!-- MAIN CONTENT-->
			<div class="main-content">
				<div class="section__content section__content--p30">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-12">
								<div class="au-card m-b-30">
									<div class="au-card-inner">
										<h3 class="title-2 m-b-40">Top 10 sản phẩm bán chạy nhất</h3>
										<canvas id="myChart"></canvas>
										<script>
											var ctx = document.getElementById('myChart').getContext('2d');
											var myChart = new Chart(ctx, {
												type: 'bar',
												data: {
													labels: <%- nList %>,
													datasets: [{
														label: 'sản phẩm',
														data: <%- vList %>,
														backgroundColor : 'rgba(83, 51, 237, 1)',
														borderWidth: 1
													}]
												},
												options: {
													scales: {
														yAxes: [{
															ticks: {
																beginAtZero: true
															}
														}]
													}
												}
											});
										</script>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="copyright">
									<p>Copyright © 2018 Colorlib. All rights reserved. Template by <a
											href="https://colorlib.com">Colorlib</a>.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT-->
		</div>
		<!-- END PAGE CONTAINER-->

	</div>

	<!-- Jquery JS-->
	<% include partials/jqueryScript.ejs %>

</body>

</html>
<!-- end document-->